.hero {
  padding: 4.5rem 0 7rem;
  gap: 3.8rem;
  @include flex;


  &__description {
    @include font_1(2rem, 400, 6rem);
    color: $primary_color;
    margin-bottom: 1rem;
  }

  h1 {
    @include font_1(5rem, 500, 6rem);
    color: $h1_color;
    margin-bottom: 1rem;
  }

  p {
    @include font_1(1.8rem, 300, 2.8rem);
    color: $secondary_color;
    margin-bottom: 2.5rem;
  }

}