@mixin flex($jc: flex-start, $ai: center) {
  display: flex;
  align-items: $ai;
  justify-content: $jc;
}

@mixin padding {
  padding: 8rem 0;
}

@mixin btn {
  padding: 1.6rem 3.2rem;
  border-radius: 0.4rem;
  background-color: $btn-bg;
  color: $third_color;
}

@mixin font_1($fs: 1.8rem, $fw: 400, $lh: 2.8rem) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}

@mixin font_2($fs: 1.8rem, $fw: 300, $lh: 2.8rem) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
}
@mixin pragraph_m {
  margin: 2.4rem 0 3.2rem 0;
}
