$bg: #ffffff;
$white: #ffffff;
$header_bg: #DEECEC;
$primary_color: #589195;
$secondary_color: #707686;
$dot_color: #9FC1C3;
$icon_color: #1B2858;
$badge_color: #31797E;
$card_bg: #F7F8FC;
$feature_bg: #F6F8FA;

$main_text_color: #34394C;
$main_a_color: #2C5F63;
$main_p_color: #7F8698;

$featured_bottom_color: #E9E6F0;

$footer_bg: #E8EAEF;
$nav_border: #84BABE;

$red: #F04726;
$yellow: #FFB400;

$h1_color: #3A415C;

$info_color: #297176;